.checkout-summary {
  height: fit-content;
  width: 370px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--elements-border-light);

  @media (max-width: 1199px) {
    width: 100%;
  }
}

.total-price {
  font-size: 32px;
  line-height: 41px;
  font-weight: 800;
}

.total-items {
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: var(--main-text-light);
}

.total-phones {
  margin-bottom: 40px;

  font-weight: 600;
  color: var(--main-text-light);
  text-align: left;
}

.divider {
  margin-bottom: 25px;
  height: 1px;
  width: 100%;
  background-color: var(--elements-border-light);
}

.checkout-button {
  width: 100%;
  height: 48px;
  padding-block: 10px;
  
  background-color: rgba(49, 50, 55, 1);   // check this color
  color: var(--bg-light);
  
  font-weight: 700;
  text-align: center;

  transition: box-shadow 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 13px 0px rgba(23, 32, 49, 0.4);
  }
}

.isFocus {
  transition: color, background-color, 0.3s;
  color: var(--green-text);
  background-color: #FFF;
  border: 1px solid var(--elements-border-light);
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}
