@import '../../mixins/adaptive-rules.scss';

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 30px;

  @include onTablet {
    margin-bottom: 40px;
  }

  @include onSmallPhone {
    margin-top: 24px;
  }
}

.pagination__item {
  margin-right: 8px;

  &:nth-last-child(2) {
    margin-right: 0;
  }

  &-reversed {
    transform: rotate(180deg);
  }

  &-first {
    margin-right: 16px;
    display: flex;
    gap: 16px;
  }

  &-last {
    display: flex;
    gap: 16px;
    margin-left: 16px;
  }
}