// .buttonStyle {
//   width: 32px;
//   height: 32px;
//   background-color: transparent;
//   border: 1px solid var(--elements-border);
//   cursor: pointer;
//   margin: 0 5px;
//   color: black;
// }
li {
  list-style-type: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item {
  margin-right: 8px;

  &:nth-last-child(2) {
    margin-right: 0;
  }

  &-reversed {
    transform: rotate(180deg);
  }

  &-first {
    margin-right: 16px;
  }

  &-last {
    margin-left: 16px;
  }
}