@import "/src/mixins/adaptive-rules.scss";

.nav__menu {
  display: flex;
  flex-direction: row;
  gap: 64px;
  width: 100%;

  @include onTablet {
      gap: 32px;
  }

  @include onLargePhone {
      gap: 30px;
  }

  @include onSmallPhone {
    margin-top: 24px;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
}

.nav__link-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;

  font-size: 12px;
  font-weight: 800;
  letter-spacing: 4%;
  color: var(--main-text);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  
  transition: var(--transition-color);
  
  @include onTablet {
    height: 48px;
  }
  
  @include onLargePhone {
    height: 48px;
  }
  
  @include onSmallPhone {
    height: 48px;
  }

  &:not(.nav-item-active):hover {
    color: var(--text-hover);
  
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      animation: scale-in 0.5s forwards;
      background-color: var(--text-hover);
    }
  }
}

.nav-item-active {
  color: var(--text-hover);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--text-hover);
  }
}

@keyframes scale-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
