@import "../../App.scss";
@import '../../mixins/adaptive-rules.scss';

.card {
  padding: 32px;
  width: 1fr;
  max-width: 288px;
  height: 507px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;

  font-family: "Mont-Regular";
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
 
  transition: box-shadow 0.3s;
  border: 1px solid var(--elements-border);

  @include onSmallPhone {
    min-width: 212px !important;
    max-width: 212px !important;
  }

  @include onTablet {
    min-width: 237px !important;
    max-width: 237px !important;
  }

  &:hover {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, .1);
  }

  &__image {
    margin: 0 auto;
    height: 200px;
    width: auto;

    &-container {
      display: flex;
      justify-content: center;

      cursor: pointer;
    }
  }

  &__price {
    display: flex;
    gap: 8px;

    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;

    &--actual {
      margin: 0;
    }

    &--old {
      margin: 0;

      text-decoration: line-through;
      color: var(--main-text-light);
    }
  }

  &__link {
    text-decoration: none;
    color: var(--text-hover);
  }

  .card__details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-hover);

    &-name {
      min-height: 42px;

      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;

      cursor: pointer;
    }
  }

  .card__details &__feature {
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    &-name {
      margin: 0;
      flex-grow: 1;

      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
      color: var(--main-text-light);
    }

    &-value {
      margin: 0;

      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: right;
      color: var(--text-hover);
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;
    &-add-to-cart {
      height: 40px;
      flex-grow: 1;
      color: var(--bg-light);
      background-color: var(--text-hover);
      border: none;
    }

    &-add-to-favourites {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
