@import '/src/mixins/grid-template.scss';

.grid {
  display: grid;

  @include grid-template('phone-small');
  @include grid-template('phone-large');
  @include grid-template('tablet');
  @include grid-template('desktop');
}

.additional-elements {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}