@import '/src/mixins/grid-template.scss';
@import '../../mixins/adaptive-rules.scss';

.grid {
  display: grid;

  @include grid-template('phone-small');
  @include grid-template('phone-large');
  @include grid-template('tablet');
  @include grid-template('desktop');

  @include onSmallPhone {
    justify-items: center;
  }
}

.additional-elements {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}

.dropdown-wrapper {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
}

.dropdown-sortBy {
  width: 176px;

  @include onSmallPhone {
    width: 50%;
  }
}

.dropdown-itemsOnPage {
  width: 128px;

  @include onSmallPhone {
    width: 50%;
  }
}