.cardLayout {
  box-sizing: border-box;
  display: grid;
  width: 1136px;
  column-gap: 64px;
  grid-template-areas:
    "title title"
    "pictures option"
    "about specs";
  background-color: var(--bg);

  &__header {
    grid-area: title;
    display: flex;
    font-size: 32px;
    font-weight: 800;
    color: var(--text-hover);
    letter-spacing: -1%;
  }

  &__pictures {
    padding-top: 35px;
    grid-area: pictures;
    width: 560px;
    height: 464px;
  }

  &__options {
    width: 512px;
    padding-top: 35px;
    grid-area: option;
    display: grid;
    grid-template-rows: 80px 103px 105px 84px;
    grid-template-areas:
      "color id"
      "capacity ."
      "price ."
      "info .";

    &-color {
      grid-area: color;
      display: flex;
      flex-direction: column;
      width: 320px;
      border-bottom: 1px solid rgba(59, 62, 74, 0.406);

      &-text {
        display: flex;
        font-weight: 700;
        font-size: 12px;
        color: var(--main-text);
      }

      &-select {
        margin-top: 8px;
        display: flex;
        width: 152px;
        height: 32px;
      }
    }

    &-id {
      grid-area: id;
      color: var(--main-text);
      display: flex;
      justify-content: flex-end;
      font-weight: 700;
      font-size: 12px;
    }

    &-capacity {
      grid-area: capacity;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 320px;
      border-bottom: 1px solid rgba(59, 62, 74, 0.406);

      &-text {
        display: flex;
        font-weight: 700;
        font-size: 12px;
        color: var(--main-text);
      }

      &-select {
        margin-top: 8px;
        display: flex;
        width: 195px;
        height: 32px;
      }
    }

    &-price {
      grid-area: price;
      width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }

      &-regular {
        font-size: 32px;
        font-weight: 800;
        color: var(--text-hover);
      }

      &-disc {
        font-size: 22px;
        font-weight: 500;
        color: var(--main-text);
        text-decoration: line-through;
      }

      &-controls {
        margin-top: 16px;
      }
    }

    &-info {
      margin-top: 32px;
      grid-area: info;
      width: 320px;
      display: flex;
    }
  }

  &__specs {
    margin-top: 80px;
    grid-area: specs;

    &-title {
      height: 47px;
      display: flex;
      font-size: 22px;
      font-weight: 800;
      color: var(--text-hover);
      border-bottom: 1px solid rgba(59, 62, 74, 0.406);
    }

    &-info {
      margin-top: 25px;
    }
  }

  &__about {
    margin-top: 80px;
    grid-area: about;

    &-title {
      height: 47px;
      display: flex;
      font-size: 22px;
      font-weight: 800;
      color: var(--text-hover);
      border-bottom: 1px solid rgba(59, 62, 74, 0.406);
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 32px;

        &-main {

            text-align: left;
            
            &-title {
                font-size: 20px;
                font-weight: 700;
                color: var(--text-hover);
            }

            &-text {
                margin-top: 16px;
                text-align: left;
                font-size: 14px;
                font-weight: 500;
                color: var(--main-text);
            }
        }
    }
  }
}
