.buttons_header {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(226, 230, 233, 1);
    cursor: pointer;
  }
  
  .icon-cart,
  .icon-favorite {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  }
  
  .icon-cart {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--cart-img);
  }
  
  .icon-favorite {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--favorite-img);
  }
  
  .buttons_header:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--text-hover);
  }