@import "/src/mixins/grid-template.scss";
@import "../../mixins/adaptive-rules.scss";

.skeleton__total-phones {
  height: 21px;
  width: 80px;
}

.skeleton__dropdown {
  margin-top: 40px;
  margin-bottom: 24px;
  display: flex;
  gap: 16px;

  @include onSmallPhone {
    flex-direction: column;
  }

  &-sortBy {
    width: 176px;
    height: 59px;

    @include onSmallPhone {
      width: 50%;
    }
  }

  &-itemsOnPage {
    width: 128px;
    height: 59px;

    @include onSmallPhone {
      width: 50%;
    }
  }

  &-input {
    width: 225px;
    height: 59px;

    @include onSmallPhone {
      width: 50%;
    }
  }
}

.skeleton__bg {
  background: rgb(194, 194, 194);
  background: linear-gradient(
    90deg,
    rgba(194, 194, 194, 0.6867121848739496) 0%,
    rgba(217, 217, 217, 0.8547794117647058) 100%
  );
  animation: animation 0.5s linear infinite;
  background-size: 200% 100%;
}

@keyframes animation {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: 0%;
  }
}
