.burger__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 100%;
  border-left: 1px solid rgba(226, 230, 233, 1);
}

.burger {
  height: 10px;
  width: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 14px;
  height: 2px;
  background-color: var(--text-hover);
  border-radius: 1px;
}

.burger__menu {
  position: fixed;
  top: 64px;
  right: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--bg);
  z-index: 2;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out, visibility 0s 0.3s;
}

.burger__menu.visible {
  border: 1px solid rgba(226, 230, 233, 1);
  height: calc(100vh - 64px);
  visibility: visible;
  transition: height 0.3s ease-in, visibility 0s 0s;
}

.hidden {
  visibility: hidden;
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  padding-top: 24px;
}

.menu__item {
  color:  var(--main-text);
  height: 27px;
  margin-top: 16px;
  position: relative;
  transition: color 0.3s ease;
  cursor: pointer;
}

.header-item-active {
  color: var(--text-hover);
}

.menu__item:hover {
  color: var(--text-hover);
}

.menu__item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--text-hover);
}


.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(2px, 3.5px);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  opacity: 0;
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -3.5px);
  transition: ease-out 0.5s;
}

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu__footer {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}
