@import './mixins/adaptive-rules.scss';

.App {
  height: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: var(--bg);

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

:root {
  --bg-light:rgba(255, 255, 255, 1);
  --bg-dark:rgba(15, 17, 33, 1);

  --home-icon-light: url(.//images/icons/Home_light.svg);
  --home-icon-dark: url(.//images/icons/Home_dark.svg);

  --header-img-light: url(./images/Logo.png);
  --header-img-dark: url(./images/Logo-dark.png) ;

  --cart-img-light: url(./images/icons/Shopping_bag.png);
  --cart-img-dark: url(./images/icons/Group_17.png);

  --favorite-img-light: url(./images/icons/Vector.png);
  --favorite-img-dark: url(./images/icons/Vector_Stroke.png);

  --up-img-light: url(./images/icons/up_light.svg);
  --up-img-dark: url(./images/icons/up_dark.svg);

  --right-img-light: url(./images/icons/right_light.svg);
  --right-img-dark: url(./images/icons/right_dark.svg);

  --left-img-light: url(./images/icons/left_light.svg);
  --left-img-dark: url(./images/icons/left_dark.svg);

  --favorites-icon-light: url(./images/icons/favourites_light.svg);
  --favorites-icon-dark: url(./images/icons/favourites_dark.svg);
  --favorites-icon-selected: url(./images/icons/favourites_selected.svg);
  --arrow-icon-light: url(./images/icons/arrow_light.svg);
  --arrow-icon-dark: url(./images/icons/arrow_dark.svg);
  --arrow-icon-light-disabled: url(./images/icons/arrow_light_disabled.svg);
  --arrow-icon-dark-disabled: url(./images/icons/arrow_dark_disabled.svg);
  --arrow-left-light: url(./images/icons/arrow_left_light.svg);
  --arrow-left-dark: url(./images/icons/arrow_left_dark.svg);
  --arrow-left-dark-hover: url(./images/icons/arrow_left_dark_hover.svg);

  --green-text: rgba(39, 174, 96, 1);

  --main-text-light:rgba(137, 147, 154, 1);
  --main-text-dark:rgba(117, 118, 127, 1);

  --text-hover-dark: rgba(49, 50, 55, 1);
  --text-hover-light:rgba(241, 242, 249, 1);

  --elements-border-light: rgba(226, 230, 233, 1);
  --elements-border-dark: rgba(59, 62, 74, 1);

  --icons-light: rgba(180, 189, 195, 1);
  --icons-dark: rgba(50, 53, 66, 1);

  --icons-bg-dark: rgba(74, 77, 88, 1);

  --red--icons: rgba(235, 87, 87, 1);

  --primary-button-bg-dark: rgba(144, 91, 255, 1);
  --primary-button-box-shadow-hover: rgba(23, 32, 49, 0.4);
  --primary-button-bg-hover-dark: rgba(163, 120, 255, 1);
  --gray-surface-one: rgba(22, 24, 39, 1);
  --black: rgba(76, 76, 76, 1);
  --rosegold: rgba(183, 110, 121, 1);
  --gold: rgba(252, 219, 193, 1);
  --silver: rgba(95, 113, 112, 1);
}

.light-theme {
  --bg: var(--bg-light);
  --header-img: var(--header-img-light);
  --text-hover: var(--text-hover-dark);
  --cart-img: var(--cart-img-light);
  --favorite-img: var(--favorite-img-light);
  --elements-border: var(--elements-border-light);
  --main-text: var(--main-text-light);
  --icons: var(--icons-light);
  --up-img: var(--up-img-light);
  --right-img: var(--right-img-light);
  --left-img: var(--left-img-light);
  --home-icon: var(--home-icon-light);
  --primary-button-bg: var(--text-hover-dark);
  --primary-button-color: var(--text-hover-light);
  --primary-button-selected-color: var(--green-text);
  --primary-button-selected-bg: var(--bg-light);
  --primary-button-selected-border: var(--elements-border-light);
  --primary-button-bg-hover: var(--text-hover-dark);
  --color-selector-border: var(--elements-border-light);
  --color-selector-border-hover: var(--icons-light);
  --favorites-icon: var(--favorites-icon-light);
  --favorites-border-hover: var(--text-hover-dark);
  --favorites-bg-hover: var(--bg-light);
  --favorites-border-selected: var(--elements-border-light);
  --favorites-icon-bg: var(--bg-light);
  --arrow-icon: var(--arrow-icon-light);
  --arrow-icon-disabled: var(--arrow-icon-light-disabled);
  --text-icon: var(--text-hover-dark);
  --text-icon-border: var(--elements-border-light);
  --text-icon-bg: var(--bg-light);
  --text-icon-border-hover: var(--text-hover-dark);
  --text-icon-bg-hover: var(--bg-light);
  --navigation-button: var(--main-text-light);
  --navigation-button-hover: var(--text-hover-dark);
  --arrov-left: var(--arrow-left-light);
  --arrov-left-hover: var(--arrow-left-light);
}

.dark-theme {
  --bg: var(--bg-dark);
  --header-img: var(--header-img-dark);
  --text-hover: var(--text-hover-light);
  --cart-img: var(--cart-img-dark);
  --favorite-img: var(--favorite-img-dark);
  --elements-border: var(--elements-border-dark);
  --main-text: var(--main-text-dark);
  --icons: var(--icons-dark);
  --up-img: var(--up-img-dark);
  --right-img: var(--right-img-dark);
  --left-img: var(--left-img-dark);
  --home-icon: var(--home-icon-dark);
  --primary-button-bg: var(--primary-button-bg-dark);
  --primary-button-color: var(--text-hover-light);
  --primary-button-selected-color: var(--text-hover-light);
  --primary-button-selected-bg: var(--icons-dark);
  --primary-button-selected-border: var(--icons-dark);
  --primary-button-bg-hover: var(--primary-button-bg-hover-dark);
  --color-selector-border: var(--elements-border-dark);
  --color-selector-border-hover: var(--main-text-dark);
  --favorites-icon: var(--favorites-icon-dark);
  --favorites-border-hover: var(--icons-dark);
  --favorites-bg-hover: var(--icons-bg-dark);
  --favorites-border-selected: var(--elements-border-dark);
  --favorites-icon-bg: var(--icons-dark);
  --arrow-icon: var(--arrow-icon-dark);
  --arrow-icon-disabled: var(--arrow-icon-dark-disabled);
  --text-icon: var(--text-hover-light);
  --text-icon-border: var(--gray-surface-one);
  --text-icon-bg: var(--gray-surface-one);
  --text-icon-border-hover: var(--elements-border-dark);
  --text-icon-bg-hover: var(--elements-border-dark);
  --navigation-button: var(--text-hover-light);
  --navigation-button-hover: var(--primary-button-bg-dark);
  --arrov-left: var(--arrow-left-dark);
  --arrov-left-hover: var(--arrow-left-dark-hover);
}

.title {
  text-align: left;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  color: var(--text-hover);

  margin-block: 24px;
}
.content {
  margin: 0 auto;
  background-color: var(--bg);

  @include onDesktop {
    padding: 50px;
  }

  @include onTablet {
    padding: 24px;
  }

  @include onLargePhone {
    padding: 24px;
  }

  @include onSmallPhone {
    padding: 16px;
  }
}
