@import './mixins/adaptive-rules.scss';

.App {
  height: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: var(--bg);

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

:root {
  --bg-light:rgba(255, 255, 255, 1);
  --bg-dark:rgba(15, 17, 33, 1);

  --home-icon-light: url(.//images/icons/Home_light.svg);
  --home-icon-dark: url(.//images/icons/Home_dark.svg);

  --header-img-light: url(./images/Logo.png);
  --header-img-dark: url(./images/Logo-dark.png) ;

  --cart-img-light: url(./images/icons/Shopping_bag.png);
  --cart-img-dark: url(./images/icons/Group_17.png);

  --favorite-img-light: url(./images/icons/Vector.png);
  --favorite-img-dark: url(./images/icons/Vector_Stroke.png);

  --up-img-light: url(./images/icons/up_light.svg);
  --up-img-dark: url(./images/icons/up_dark.svg);

  --right-img-light: url(./images/icons/right_light.svg);
  --right-img-dark: url(./images/icons/right_dark.svg);

  --left-img-light: url(./images/icons/left_light.svg);
  --left-img-dark: url(./images/icons/left_dark.svg);

  --green-text: rgba(39, 174, 96, 1);

  --main-text-light:rgba(137, 147, 154, 1);
  --main-text-dark:rgba(117, 118, 127, 1);

  --text-hover-dark: rgba(49, 50, 55, 1);
  --text-hover-light:rgba(241, 242, 249, 1);

  --elements-border-light: rgba(226, 230, 233, 1);
  --elements-border-dark: rgba(59, 62, 74, 1);

  --icons-light: rgba(180, 189, 195, 1);
  --icons-dark: rgba(50, 53, 66, 1);

  --icons-dark: rgba(74, 77, 88, 1);

  --red--icons: rgba(235, 87, 87, 1);
}

.light-theme {
  --bg: var(--bg-light);
  --header-img: var(--header-img-light);
  --text-hover: var(--text-hover-dark);
  --cart-img: var(--cart-img-light);
  --favorite-img: var(--favorite-img-light);
  --elements-border: var(--elements-border-light);
  --main-text: var(--main-text-light);
  --icons: var(--icons-light);
  --up-img: var(--up-img-light);
  --right-img: var(--right-img-light);
  --left-img: var(--left-img-light);
  --home-icon: var(--home-icon-light);
}

.dark-theme {
  --bg: var(--bg-dark);
  --header-img: var(--header-img-dark);
  --text-hover: var(--text-hover-light);
  --cart-img: var(--cart-img-dark);
  --favorite-img: var(--favorite-img-dark);
  --elements-border: var(--elements-border-dark);
  --main-text: var(--main-text-dark);
  --icons: var(--icons-dark);
  --up-img: var(--up-img-dark);
  --right-img: var(--right-img-dark);
  --left-img: var(--left-img-dark);
  --home-icon: var(--home-icon-dark);
}

.title {
  text-align: left;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  color: var(--text-hover);

  margin-block: 24px;
}
.content {
  margin: 0 auto;
  background-color: var(--bg);

  @include onDesktop {
    padding: 50px;
  }

  @include onTablet {
    padding: 24px;
  }

  @include onLargePhone {
    padding: 24px;
  }

  @include onSmallPhone {
    padding: 16px;
  }
}
