@import './mixins/adaptive-rules.scss';


.App {
  text-align: center;
  height: 100vh;

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

:root {
  --bg-light:rgba(255, 255, 255, 1);
  --bg-dark:rgba(15, 17, 33, 1);

  --header-img-light: url(./header/img/Logo.png);
  --header-img-dark: url(./header/img/Logo-dark.png) ;

  --cart-img-light: url(./header/buttonsHeader/icons/Shopping_bag.png);
  --cart-img-dark: url(./header/buttonsHeader/icons/Group_17.png);

  --favorite-img-light: url(./header/buttonsHeader/icons/Vector.png);
  --favorite-img-dark: url(./header/buttonsHeader/icons/Vector_Stroke.png);

  --up-img-light: url(./Footer/images/up_light.svg);
  --up-img-dark: url(./Footer/images/up_dark.svg);

  --main-text-light:rgba(137, 147, 154, 1);
  --main-text-dark:rgba(117, 118, 127, 1);

  --text-hover-dark: rgba(49, 50, 55, 1);
  --text-hover-light:rgba(241, 242, 249, 1);

  --elements-border-light: rgba(226, 230, 233, 1);
  --elements-border-dark: rgba(59, 62, 74, 1);

  --icons-light: rgba(180, 189, 195, 1);
  --icons-dark: rgba(50, 53, 66, 1);

  --icons-dark: rgba(74, 77, 88, 1);


}

.light-theme {
  --bg: var(--bg-light);
  --header-img: var(--header-img-light);
  --text-hover: var(--text-hover-dark);
  --cart-img: var(--cart-img-light);
  --favorite-img: var(--favorite-img-light);
  --elements-border: var(--elements-border-light);
  --main-text: var(--main-text-light);
  --icons: var(--icons-light);
  --up-img: var(--up-img-light);
}

.dark-theme {
  --bg: var(--bg-dark);
  --header-img: var(--header-img-dark);
  --text-hover: var(--text-hover-light);
  --cart-img: var(--cart-img-dark);
  --favorite-img: var(--favorite-img-dark);
  --elements-border: var(--elements-border-dark);
  --main-text: var(--main-text-dark);
  --icons: var(--icons-dark);
  --up-img: var(--up-img-dark);
}


.content {
  margin: 0 auto;

  @include onDesktop {
    padding: 50px;
  }

  @include onTablet {
    @include onLargePhone {
      padding: 24px;
    }
  }

  @include onLargePhone {
    padding: 16px;
  }
}
