@import '../App.scss';

.footer {
  padding: 32px;
  border-top: 1px solid var(--elements-border);
  background-color: var(--bg);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo {
    display: block;
  }
  
  &__logo img {
    display: block;
    height: 100%;
  }
  
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 106px;
  
    font-family: Mont-Bold;  
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.04em;
    cursor: pointer;
  }

  &__list-item {
    transition: var(--transition-color);
    color: var(--main-text);

    &:hover {
      color: var(--text-hover);
    }
  }
  
  &__to-top {
    position: relative;
    display: block;
    text-decoration: none;
    padding-right: 48px;

    font-family: "Mont-SemiBold";
    font-size: 12px;
    color: var(--main-text);
    transition: var(--transition-color);


    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 32px;
      height: 32px;
      border: 1px solid var(--icons);
      background-image: var(--up-img);
      background-repeat: no-repeat;
      background-position: center;
      transition: border 0.5s ease-in-out;
    }

    &:hover {
      color: var(--text-hover);

      &::after {
        border: 1px solid var(--text-hover);
      }
    }
    
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .footer--list {
    gap: 13.5px;
  }
}

@media (max-width: 639px) {
  .footer {
    padding: 32px 16px;

    
    &__container {
      flex-direction: column;
      gap: 32px;
      align-items: flex-start;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &__to-top {
      align-self: center;
    }
  }
}