.footer {
  padding: 32px;
  border-top: 1px solid rgba(226, 230, 233, 1);

  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &--logo {
    display: block;
  }
  
  &--logo img {
    display: block;
    height: 100%;
  }
  
  &--list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 106px;
  
    cursor: pointer;
  
    color: rgba(137, 147, 154, 1);
  
    text-transform: uppercase;
    font-family: Mont;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.04em;
  }
  
  &--list-item:hover {
    color: rgba(49, 50, 55, 1);
  
  }
  
  &--to-top {
    position: relative;
    display: block;
    text-decoration: none;
    padding-right: 48px;
    color: rgba(137, 147, 154, 1);

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 32px;
      height: 32px;
      border: 1px solid rgba(180, 189, 195, 1);
      background-image: url(./images/up.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      color: rgba(49, 50, 55, 1);

      &::after {
        border: 1px solid rgba(49, 50, 55, 1)
      }
    }
    
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .footer--list {
    gap: 13.5px;
  }
}

@media (max-width: 639px) {
  .footer {
    padding: 32px 16px;

    
    &--container {
      flex-direction: column;
      gap: 32px;
      align-items: flex-start;
    }

    &--list {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &--to-top {
      align-self: center;
    }
  }
}