@import '../../mixins/adaptive-rules.scss';

.banner {
  position: relative;

  margin-bottom: 56px;
  width: 100%;
  max-width: 1136px;
  overflow-x: hidden;

  border-radius: 9px;

  @include onTablet {
    margin-bottom: 64px;
  }

  &__photo {
    width: 100%;
    content: url('../../images/banner.png');

    @include onSmallPhone {
      content: url('../../images/image_small_phone.png');
    }
  }
}

.swiper {
  justify-content: center;
  align-items: center;

  .swiper-button {
    z-index: 1;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    cursor: pointer;

    &-prev,
    &-next {
      width: 15px;
      color: white;

      @include onSmallPhone {
        display: none;
      }
    }
  }

  .swiper-pagination-bullet {
    width: 14px;
    border-radius: 0;
  }
}
